.footer{
    height: 372px;
    background-color: #e7e7e7;
}
.footer-container{
    margin-left: 53.5px;
    margin-right: 53.5px;
    padding: 36px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}
.middle-footer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
}
.footer-list, .footer-list2 {
    
    list-style-type: disc;
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-left: 0px;
    cursor: pointer;
}
.footer-image{
   padding: 110px 30px;
   cursor: pointer;
}
.middle-footer img{
    height: 34px;
    width: 34px;
    cursor: pointer;
}
.upper-footer{
    margin-left: -42px;
}
.social-links{
    margin-left: -37px;
    margin-bottom: 11px;
}
.disclaimer{
  line-height: 15px;
  font-size: 12px;
  margin: 0px 0px 11px 0px;
}
.disclaimer a{
    color: black;
}

.footer-list:hover,.footer-list2:hover{
    text-decoration: underline;
}
.footer-list2{
    border-right: 1px solid rgb(0,0,0);
    padding-right: 10px;
    
}
